@media (min-width: 1024px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .hb-button{
        display: none;
    }

    .nav-container{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-container li{
        margin: 0;
    }

    .logo{
        font-size: 24px;
    }

    /*main*/
    .container{
        margin: 0 auto;
    }
    .text-img{
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: start;
        padding: 0 2rem;
        justify-content: space-around;
    }

    h1{
        font-size: 48px;
        font-weight: 600;
    }

    p{
        font-size: 18px;
        font-weight: 600;
    }
    
    img{
        width: 20%;
        margin-left: 10rem;
    }

    /*about*/
    .section{
        text-align: start;
        padding: 0 2rem;
    }

    h2{
        font-size: 32px;
        text-transform: uppercase;
    }

}