@media (min-width: 1024px){
    /*header*/
   
    .navbar{
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .hb-button{
        display: none;
    }

    .nav-container{
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-container li{
        margin: 0;
    }

    .logo{
        font-size: 24px;
    }
    
    .img-profil{
        height: 20rem;
        margin: 0;
    }

    /*about*/
    .section{
        text-align: start;
        padding: 0 2rem;
    }

    .about{
        display: flex;
    }

    h2{
        font-size: 32px;
        text-transform: uppercase;
    }

    /*project*/
    .projects-container {
        flex-direction: row;
    }

    /*reuse*/
    .flex-desk{ display: flex;}
    .align-center { align-items: center;}
    .text-center { text-align: center;}

}