@media (min-width: 1024px){
    /*header*/
   
    .navbar{
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .hb-button{
        display: none;
    }

    .nav-container{
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-container li{
        margin: 0;
    }

    .logo{
        font-size: 24px;
    }
    
    .img-profil{
        height: 20rem;
        margin: 0;
    }

  

    /*about*/
    .section{
        text-align: start;
    }

    .about-img{
        width: 18rem;
    }

    h2{
        font-size: 2rem;
    }

    .p-text{
        font-size: 1.2rem;
    }

    /*project*/
    .projects-container {
        flex-direction: row;
    }

    .project-card{
        width: 18rem;
        height: 18rem;
    }
    /*footer*/
    .icon-i{
        font-size: 2rem;
    }

    /*reuse*/
    .flex-desk{ display: flex;}
    .align-center { align-items: center;}
    .text-center { text-align: center;}

}