body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right top, #1d2b64, #f8cdda);
}
/*header*/
header{
    background-color: rgb(44, 44, 44);
    position: fixed;
    width: 100%; 
    top: 0;
}

.hb-button{
    position: absolute;
    right: 30px;
    top: .5rem;
    cursor: pointer;
    color: white;
    background-color:rgb(44, 44, 44);
    font-size: 25px;
    border-style: none;
}

.logo{
    display: inline-block;
    font-size: 18px;
    padding: .5rem;
    margin-left: 15px;
}

span{
    font-family: 'Pacifico', cursive
}

.nav-container{
    text-align: center;
    list-style: none;
    display: none;
}

.nav-container li{
    text-align: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
/*js*/
.active{
    display: block;
}

/*main*/
.container{
    margin: 0 auto;
    max-width: 90%;
}

.img-profil{
    width: 10rem;
    margin: 0;
    border-radius: 50%;
}

h1{
    margin: 0;
}

.text-img{
    background-color: rgb(221, 221, 221);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*about me*/
.section{
    text-align: center;
}

/*project*/
.projects{
    background-color: rgb(221, 221, 221);
    text-align: center;
    padding-top: .5rem;
}
.projects-container{
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    padding-bottom: 2rem;
}

.project-card{
    width: 250px;
    height: 350px;
    box-shadow: 5px 5px 20px rgb(49, 49, 49);
    margin: 10px;
    padding: 1rem;
    background-color: white;
}

.img-card{
    width: 60%;
}

.p-card{
    color: black;
}


/*footer*/
footer{
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.icon-i{
    color: black;
    font-size: 24px;
}





