body{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

/*header*/
header{
    background-color: rgb(44, 44, 44);
    position: fixed;
    width: 100%; 
    top: 0;
}

.hb-button{
    position: absolute;
    right: 30px;
    top: .5rem;
    cursor: pointer;
    color: white;
    background-color:rgb(44, 44, 44);
    font-size: 25px;
    border-style: none;
}

.logo{
    display: inline-block;
    font-size: 18px;
    padding: .5rem;
    margin-left: 15px;
}

span{
    font-family: 'Pacifico', cursive;
    color: #f8cdda;
}

.nav-container{
    text-align: center;
    list-style: none;
    display: none;
}

.nav-container li{
    text-align: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}


/*js*/
.active{
    display: block;
}

/*main*/
.content-start{
    background-color: #f8cdda;
    height: 100vh;
    margin-top: 2rem;
}

/*about me*/
.section{
    background-color: #f8dfe7;
}

.about-img{
    width: 15rem;
    padding: 1rem;
}

/*project*/
.projects{
    background-color: #f7ebef;
    padding-top: .5rem;
}
.projects-container{
    justify-content: space-around;

    background-color: #f7ebef;
    padding-bottom: 2rem;
}

.project-card{
    width: 250px;
    height: 350px;
    box-shadow: 5px 5px 20px rgb(49, 49, 49);
    margin: 10px;
    padding: 1rem;
    background-color: white;
}

.img-card{
    width: 10rem;
}

.a-card{
    color: black;
}


/*footer*/
.social{
    gap: 1rem;
    padding-bottom: 2rem;
}

.icon-i{
    color: black;
    font-size: 24px;
}

/*reuse*/
.flex{ display: flex;}
.flex-column{ flex-direction: column;}
.justify-center{ justify-content: center;}
.align-center{ align-items: center;}
.text-center{ text-align: center;}
.p1 {padding: 1rem;}
.m0{ margin: 0;}






